In [7]:
from typing import Container
from bs4 import BeautifulSoup
import requests
import regex as re
import pandas as pd

df_full = pd.read_csv('userData.csv',header=None)  # iris data
df_full.head()
# Drop a column

   0    1    2    3    4
0  1  5.1  3.5  1.4  0.2
1  2  4.9  3.0  1.4  0.2
2  3  4.7  3.2  1.3  0.2
3  4  4.6  3.1  1.5  0.2

In [8]:
df_full = df_full.drop(columns=df_full.columns[0], axis=1)
df_full.shape

columns = list(df_full.columns)  # column now is an array variable

# features is column without species attribute
features = columns[:len(columns)]
# print(features)
df = df_full[features]
df.head()

     1    2    3    4
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2

In [3]:
from mcfcmPhase2 import MCFCMeansPhase2
X = MCFCMeansPhase2()
X.read_file('Iris.csv')